*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    background-color: #fffcf2;

}

h1{
    font-family: "Noto Sans KR", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    box-sizing: border-box;
    letter-spacing: -1.5px;
}
p, a, li{
    font-family: "Noto Sans KR", sans-serif;
    font-size: 0.9rem;
    line-height: 1.5;
    font-weight: 400;
    color: #3c3c3c;
    letter-spacing: -0.5px;
    text-decoration: none;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
a{
    color: #0081a7;
}

#content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 55%;
    min-height: 100vh;
    height: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    align-content: center;
    animation: 0.5s alternate fadeInUp;
}

section{
    padding: 0 10px;
}
section:nth-child(1){
    width: 40%;
}

section:nth-child(2){
    width: 55%;
}

img, video {
    max-width: 100%;
    height: auto;
}

section div img{
    width: 100%;
    border-radius: 10px;
}

#experience-education{
    display: flex;
    justify-content: center;
    width: 55%;
    height: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    align-content: flex-start;
    animation: 0.5s alternate fadeInUp;
}
#experience-education ul li{
    display: inline-flex;
    width: 100%;
    border: 2px solid #3c3c3c;
    margin: 5px 0;
    text-align: center;
    border-width: 1px 0 0 0;
    padding: 11px 0;
    justify-content: space-between;
    transition: 0.3s;
}
#experience-education ul li:hover{
    padding: 15px;
}

h2{
    font-family: "Noto Sans KR", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: -0.5px;
    text-align: center;
    padding: 8px;
    margin: 0 auto;
}

#work{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    height: 100%;
    min-height: 55vh;
    margin: 0 auto;
    flex-wrap: wrap;
    animation: 0.5s alternate fadeInUp;
}
#work ul{
    display: flex;
    flex-wrap: wrap;
}

#work ul li{
    list-style: none;
    padding: 0 20px 0 0;
}

@media only screen and (max-width: 1200px) {
#content {
    width: 75%;
}
#experience-education{
    width: 75%;
}
#work{
    width: 75%;
}
}

@media only screen and (max-width: 980px) {
#content{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    width: 100%;
    height: 100%;
    margin: 0;
}
#img-cover{
    width: 100%;
    height: 65vh;
    background: linear-gradient(#ffffff00 38%, #fffcf2b8);
    position: absolute;
}
section{
    width: 100%;
    padding: 0;
}
section:nth-child(1){
    width: 100%;
}
section:nth-child(2) {
    width: 90%;
    margin: -4vh auto 4vh auto;
    padding-bottom: 5vh;
}
section div img{
    width: 100%;
    height: 65vh;
    object-fit: cover;
    border-radius: 0;
}
h1{
    font-family: "Noto Sans KR", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    box-sizing: border-box;
    transform: translate(0, -8vh);
    letter-spacing: -0.5px;
    background: #ffffff75;
    border-radius: 20px;
    text-align: center;
    width: 50vw;
    max-width: 250px;
    padding: 8px;
    margin: 0 auto;
    box-shadow: 2px 3px 7px #76767675;
}


#experience-education{
    width: 90%;
}
#experience-education ul li{
    display: inline-flex;
    width: 100%;
    border: 2px solid #3c3c3c;
    margin: 5px 0;
    text-align: left;
    border-width: 1px 0 0 0;
    padding: 11px 0;
    justify-content: space-between;
    transition: 0.3s;
}
#work{
    width: 90%;
}

}
